.videocard {
  position: fixed;
  left: 4.5rem;
  top: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.section-video-card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 25%;
}

.section-video-card-right {
    width: 70%;
    padding: 2rem;
  }
  

.yt-holder { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.yt-holder iframe, .yt-holder object, .yt-holder embed { position: absolute; top: 0; left: 0; width: 90%; height: 90%; }

.student {
  position: relative;
  margin-bottom: 1rem;
}

.student-image {
  width: 100%;
  height: 10rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.add-emoji {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.student-name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: var(--lynx-gray-color);
  border-top-right-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.student-active {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: red;
  font-size: 1.5rem;
  color: var(--grey-color);
}

.tools {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tool {
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--lynx-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-size: 0.9rem;
  border: none;
}

.tool > p {
  font-size: 0.8rem;
  font-weight: 600;
}

.tool-active {
  background-color: var(--action-color);
  color: white;
}
