.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--lynx-gray-color);
  width: 4.5rem;
}

.sidebar-top,
.sidebar-center,
.sidebar-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-top,
.sidebar-user {
  flex-grow: 1;
}

.sidebar-center {
  flex-grow: 3;
  margin: 2rem 0 7rem;
}

.logo {
  width: 3rem;
  height: 2rem;
  background: url("../../assets/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-sidebar {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  color: gray;
}

.relative {
  position: relative;
}

.active {
  color: var(--black-color);
  font-size: 1.5rem;
}

.badge {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sidebar-user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: none;
}
